@import url('https://fonts.cdnfonts.com/css/euclid-circular-a');
@import url('https://fonts.cdnfonts.com/css/nt-fabulous');

@tailwind base;
@tailwind components;
@tailwind utilities;

#header {
    font-family: 'NT Fabulous', sans-serif;
    font-weight: bold;
}

body {
    font-family: 'Euclid Circular A', sans-serif;
}

.input-field {
    @apply w-full h-10 border border-gray-300 rounded-lg px-4;
}
.label {
    @apply block text-sm font-medium text-gray-700;
}